<!DOCTYPE html>
<html>

<head>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="../static/style.css">
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <script src="../static/script.js">
  </script>
  <title>Shikhar Dance Academy</title>
</head>

<body>

  <nav id="navbar">
    <div id="logo"><img src="../static/logo.png" alt="SDA" height="50px" width="70px" style="background-color: black;"></div>
    <div class="toggle">
      <i class="fa fa-bars" aria-hidden="true" onclick="lovely()"></i>
    </div>
    <ul id="xyz">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/info">Class Info</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <section id="introsection">
    <div id="welcome">
      sfhkjs Welcome to Shikhar Dance Classes
    </div>
    <div id="motto">
      hfxhfg Eat Dance Sleep Repeat
    </div>
  </section>
  <section id="mission">Our Mission
    <div class="m">Love essence of Dance</div>
    <br>
    <div class="m">Dance the way you like</div>
    <br>
    <div class="m">Enhance your dancing skills</div>
  </section>
  <section id="sponsorssection">
    <div id="sponsors">Sponsors</div>
    <br>
    <img src="../static/skype-2-logo-png-transparent.png" alt="skype" >
    <br>
    <img src="../static/google-logo.png" alt="google" >
    <br>
    <img src="../static/images.png" alt="microsoft" >
    <br>
    <img src="../static/apple-logo-52C416BDDD-seeklogo.com.png" alt="apple" >
    <br>
    <img src="../static/69dff3d81877bb46865f656de053e96e.png" alt="Swiggy" >
    <br>
    <img src="../static/download.png" alt="Park Avenue">
    <br>
  </section>
  <footer id="footer">© 2019-2020 Shikhar Dance Academy</footer>
</body>
</html>