<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    <link rel="stylesheet" href="../static/about.css">
    <script src="../static/script.js">
    </script>
    <title>Services</title>
</head>
<body>
    <nav id="navbar">
    <div id="logo"><img src="../static/logo.png" alt="SDA" height="50px" width="70px" style="background-color: black;"></div>
    <div class="toggle">
      <i class="fa fa-bars" aria-hidden="true" onclick="lovely()"></i>
    </div>
    <ul id="xyz">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/info">Class Info</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
      </nav>
    <br>
    <div id="title">
    <h3>
       fd Services
    </h3>
    </div>
    <div id="content">
        dfd Located in downtown Melrose, in a beautifully renovated health and wellness facility, Melrose Dance Academy offers dance classes that range from pre-school to young-adult in a family-friendly, safe and supportive environment.  We believe our first responsibility is to treat our students, their families, our teachers and neighbors with the upmost respect.  We constantly strive to provide a premiere dance education worthy of our outstanding community reputation.  We teach dance, but also look to build up coordination, fitness, sense of rhythm, musicality and self-expression skills as well as beneficial life skills such as commitment and teamwork. Our dancers make long lasting friendships and memories, and we love providing that space.
        <br>
        <br>
        d Your dancer will be nurtured and encouraged, to develop their confidence and the love of dance. You will love the family feel of our dance studio, where we support each other and make every dancer and their family feel welcome.   You will be happy to know that we provide age appropriate choreography, costuming and song choice as we know this is important to you as it us.  
        <br>
        <br>
        d Whether your interest is purely recreational or competitive and performance based, Melrose Dance Academy will have the right program for you.
    </div>
    <footer id="footer">© 2019-2020 Shikhar Dance Academy</footer>
    <script src="../static/script.js">
    </script>
</body>
</html>